<!DOCTYPE html>
<html>
    <header>
        <title> {{head}} </title>
    </header>
    <body>
        <h1> {{title}} </h1>
        <p> Время </p>
        <p id="currentTime">  </p>
        <img src="https://miro.medium.com/v2/resize:fit:1024/1*CvcM2chQox1VGJnWQO3acg.png"
         width="150px" height="150px" alt="">
    </body>
</html>


<script>
    function showTime() {
        // Получаем текущее время по местоположению
        const currentTime = new Date().toLocaleString("en-US", { timeZoneName: "short" });
        document.getElementById('currentTime').innerHTML = currentTime;
    }
    
    showTime();
    setInterval(function () {
        showTime();
    }, 1000);
</script>